<div class="title-container">
  <h1>Super Heroes Wiki</h1>
  <p class="subtitle-text">Search the best superheroes of all the universes</p>
</div>

<app-home-page
  *ngIf="!showCreateEdit"
  [heroesList]="heroes"
  (editHeroe)="showEditHeroePage($event)"
  (newHero)="showNewHeroePage()"
  (deleteHeroe)="deleteHeroe($event)"
  (searchHeroe)="searchHeroe($event)"
></app-home-page>

<app-edit-create-heroe
  *ngIf="showCreateEdit"
  [heroe]="selectedHero"
  (create)="createHeroe($event)"
  (edit)="editHeroe($event)"
  (cancel)="showHomePage()"
></app-edit-create-heroe>
