/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color:#3B3B3B}


.flex-column{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    justify-content: space-around;
}